<h1>Add New Subscription</h1>

<form action='/add' method='post'>
  <label for='name'>Name: </label>
  <input type="text" name='name' value="<%= @name %>"/>
  <br>
  <label for='url'>Url: </label>
  <input type='text' name="url" value="<%= @url %>"/>
  <br>
  <label for="cost">Cost:</label>
  <input type="text" name="cost" value="<%= @cost %>">
  <br>
  <p>Frequency:
    <br>
    <input type="radio" name="frequency" value="1">Annually
    <input type="radio" name="frequency" value="2">Biennially
    <input type="radio" name="frequency" value="4">Quarterly
    <input type="radio" name="frequency" value="12">Monthly
  </p>
  <button type="submit">Add</button>
</form>