<h1>Add New Subscription</h1>

<form action='/add' method='post'>
  <label for='name'>Name: </label>
  <input type="text" name='name' value="<%= @name %>"/>
  <br>
  <label for='url'>Url: </label>
  <input type='text' name="url" value="<%= @url %>"/>
  <br>
  <label for="cost">Cost:</label>
  <input type="text" name="cost" value="<%= @cost %>">
  <br>
  <p>Frequency:
    <br>
    <%= form_frequency @frequency %>
  </p>
  <button type="submit">Add</button>
  <a href="/" class="link">Cancel</a>
</form>