<h1><%= session[:username]%>'s Subscriptions</h1>

<p><a class="link" href="/add">Add Subscription</a></p>

<% if @subscriptions.empty? %>
  <p>You don't have any subscriptions to manage. Try adding one.</p>
<% else %>
  <%= show_subscriptions %>
<% end %>