<h1><%= session[:username]%>'s Subscriptions</h1>

<% if @subscriptions.empty? %>
  <p>You don't have any subscriptions to manage. <a href="/add" class="link">Add Subscription.</a></p>
<% else %>
  <p><a class="link" href="/add">Add Subscription</a></p>
  <%= show_subscriptions %>
<% end %>