<!DOCTYPE html>
<html>
<head>
  <title>My Subscriptions</title>
</head>
<body>
  <div>
    <a href="/todo">Todo</a>
    <a href="/">Home</a>
  </div>
  <% if session[:message] %>
    <div><%= session.delete :message %></div>
  <% end %>
  <div>
    <%= yield %>
  </div>

</body>
</html>