<!DOCTYPE html>
<html>
<head>
  <title>My Subscriptions</title>
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
  <div>
    <a href="/todo">Todo</a>
    <a href="/" class="link">Home</a>
    <% if session[:username] %>
      <a href="/logout" class="link">Log Out</a>
    <% else %>
      <a href="/login" class="link">Login</a>
    <% end %>
  </div>
  <% if session[:message] %>
    <div class="message"><%= session.delete :message %></div>
  <% end %>
  <div class="main">
    <%= yield %>
  </div>

</body>
</html>