<h1>Todo</h1>

<ul>
  <li>Index page: Summarize subscriptions: check</li>
  <li>List should be a link to view subscription: check</li>
  <li>Link to Add a new subscription: check</li>
  <li>Can add a new subscription: check</li>
  <li>On subscription view:
    <ul>
      <li>Show subscription info:
        <ul>
          <li>Website: check</li>
          <li>Frequency: check</li>
          <li>Amount ($/frequency): check</li>
          <li>Start Date: Decided not to include</li>
        </ul>
      </li>
      <li>Link to Edit subscription: check</li>
      <li>Link to close: have a link to Home in navigation; could be useful to add link elsewhere</li>
    </ul>
  </li>
  <li>Eventually want to be able to signin and signout and signup: check</li>
  <li>Subscriptions to be based on user: check</li>
</ul>