<h1>Todo</h1>

<ul>
  <li>Index page: Summarize subscriptions</li>
  <li>List should be a link to view subscription</li>
  <li>Link to Add a new subscription</li>
  <li>On subscription view:
    <ul>
      <li>Show subscription info:
        <ul>
          <li>Website</li>
          <li>Frequency</li>
          <li>Amount ($/frequency)</li>
          <li>Start Date</li>
        </ul>
      </li>
      <li>Link to Edit subscription</li>
      <li>Link to close</li>
    </ul>
  </li>
  <li>Eventually want to be able to signin and signout and signup</li>
  <li>Subscriptions to be based on user</li>
</ul>